<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE module PUBLIC
          "-//Checkstyle//DTD Checkstyle Configuration 1.3//EN"
          "https://checkstyle.org/dtds/configuration_1_3.dtd">
<module name="Checker">
    <property name="charset" value="UTF-8"/>
    <property name="severity" value="warning"/>
    
    <module name="FileTabCharacter"/>
    
    <module name="TreeWalker">
        <module name="ConstantName"/>
        <module name="EmptyStatement"/>
        <module name="EqualsAvoidNull"/>
        <!-- IllegalCatch removed: widely used in file parsing and remote calls -->
        <module name="IllegalImport"/>
        <!-- InnerTypeLast removed: records and inner types are commonly used -->
        <module name="LocalFinalVariableName"/>
        <module name="LocalVariableName"/>
        <module name="MethodName">
            <property name="format" value="^[a-z][a-zA-Z0-9_]*$"/>
        </module>
        <module name="PackageName"/>
        <module name="ParameterName"/>
        <module name="RedundantModifier"/>
        <module name="StaticVariableName"/>
        <module name="TypeName"/>
        <module name="VisibilityModifier">
            <property name="protectedAllowed" value="false"/>
        </module>
        <module name="MethodLength">
            <property name="max" value="100"/>
        </module>
        <module name="ParameterNumber">
            <property name="max" value="12"/>
        </module>
        <module name="ReturnCount">
            <property name="tokens" value="LITERAL_RETURN"/>
            <property name="max" value="8"/>
        </module>
        <module name="SimplifyBooleanExpression"/>
        <module name="SimplifyBooleanReturn"/>
        <module name="ImportOrder">
            <property name="groups" value="static,java,javax,jakarta,lombok,io,org,com"/>
            <property name="separated" value="true"/>
            <property name="sortStaticImportsAlphabetically" value="true"/>
            <property name="ordered" value="true"/>
        </module>
    </module>
</module>
